h4.red {
    color: red;
}

h4.green {
    color: green;
}

.book-details {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }